[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/nlohmann_json"]
	path = external/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "external/llama.cpp"]
	path = external/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
